Компоненты:
48 карт заклинаний
8 карт амулетов
2 квадратные карточки с подсказками

Подготовка к игре:
Случайным образом выдайте обоим игрокам карточки с подсказками. Они определят того, кто будет ходить первым.

Отложите в сторону карту бездны. Перемешайте все остальные карточки. Положите карту бездны в низ колоды.

Раздайте 10 карт игроку, который будет ходить первым. Второму игроку раздайте 12 карт.

Цель игры:
Ваша цель — первым оставить противника без карт. Для этого следите за размером своей руки, с помощью заклинаний восполняйте свою руку и опустошайте руку соперника. А собранные амулеты сделают ваши заклинания ещё сильнее. 

Ход игры:

В свой ход игрок должен использовать ровно одно заклинание и может собрать не более одного амулета

Использование заклинания
Для этого выложите перед собой 2 карты заклинаний. С одной из них выберите стихию, со второй — значение, совпадающее с выбранной стихией. Значение отвечает за количество карт, на которые действует заклинание. Стихия отвечает за то, что с ними происходит.

Эффекты стихий:
Огонь — вы вслепую вытягиваете карты из руки противника и кладёте их в сброс

Воздух — противник выбирает, какие карты отдать вам из своей руки


Вода — вы берёте верхние карты из колоды и кладёте в свою руку


Земля — вы берёте верхние карты из сброса и кладёте в свою руку

Примечание: Игроки не могут скрывать сколько карт у них на руках. 





Сборка амулета
После или перед использованием заклинания игрок может собрать амулет

Для этого выложите перед собой на стол 2 карты одной стихии и карту амулета (заклинание при этом не срабатывает). Амулет даёт пассивный эффект — прибавляйте +1 к значению каждый раз, когда вы играете заклинание соответствующей стихии.
Также на каждом амулете написано его дополнительное свойство. Оно активируется, когда вы собираете этот амулет или работает пассивно.

Собранные амулеты действуют до конца игры.

Правила сброса:
Все карты в сбросе лежат лицом вверх и их можно просматривать в любой момент.
Если использованное заклинание взаимодействует со сбросом — сначала положите в сброс / возьмите из него карты и только затем кладите в него использованные карты заклинания.

Примечание:
Если условие, написанное на амулете, не выполняется, вы можете его выложить. Дополнительный эффект не сработает, но пассивный бонус +1 к значению сохраняется


Когда кончается колода — не перемешивайте сброс. Заклинания воды больше не действуют, а все карты заклинаний стихии земли, которые должны отправиться в сброс, теперь отправляются в бездну — новую стопку карт, откуда их можно вернуть только специальными эффектами амулетов. Организуйте её на месте закончившейся колоды.

Последнее заклинание воды: Очень вероятно, что в какой-то момент, использовав заклинание воды, вы захотите взять из колоды больше карт, чем осталось в колоде. Недостающие карты вытяните из руки противника (например если вы должны были взять 8 карт, а в колоде только 3 — возьмите их, а также вслепую украдите 5 карт из руки противника)

Конец игры:
Игра заканчивается как только один из игроков не может сыграть заклинание в свой ход. Он и считается проигравшим.

Пример хода:

Игрок 1 ходит первым. Он выкладывает 2 карты. Левую использует как стихию (вода), правую как значение (6). Соответственно он берёт 6 карт из колоды.

После этого он выкладывает амулет земли. На этом его ход заканчивается

Второй игрок сначала собирает амулет.
Он всё ещё будет давать +1 к заклинаниям огня,
но дополнительный эффект (написанный на амулете) не сработает т.к.
не выполнено условие

Далее второй игрок выкладывает две карты. Он
использует огонь в качестве стихии. Наугад вытягивает 5 (4 с карточки +1 за амулет огня) карт из руки противника и отправляет их в сброс.
